.largeButton, .smallButton {    
    color: rgb(241, 241, 241);
    border-radius: 18px;
    background-color: rgb(93, 173, 226);
    font-family: Quicksand;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.largeButton {
    font-size: 25px;
    height: 55%;
}

.smallButton {
    font-size: 20px;
    height: 85%;
}

.largeButton:hover, .smallButton:hover{
    background-color: rgb(133, 193, 233);
}

.largeButton:active, .smallButton:active{
    background-color: rgb(52, 152, 219);
}