Adafruit-DHT (1.4.0)
astroid (2.3.1)
cssselect (1.1.0)
cssutils (1.0.2)
isort (4.3.21)
lazy-object-proxy (1.4.2)
lxml (4.4.1)
mccabe (0.6.1)
numpy (1.17.2)
pip (9.0.1)
pkg-resources (0.0.0)
pylint (2.4.2)
PyMySQL (0.9.3)
pyqtgraph (0.10.0)
setuptools (33.1.1)
six (1.12.0)
tornado (6.0.3)
typed-ast (1.4.0)
wrapt (1.11.2)
