.appTitle {
    width: 100%;
    font-family: 'Quicksand';
    font-size: 60px;
    color: rgb(241, 241, 241);
    text-align: center;
    vertical-align: center;
    justify-content: center;
}

.measurementHeader, .measurementValue{
    font-family: 'Quicksand';
    font-size: 25px;
    color: rgb(241, 241, 241);
}

.measurementHeader {
    width: 75%;
    text-align: left;
    vertical-align: center;
    justify-content: center;
    padding-right: 15px;
}

.measurementValue {
    width: 25%;
    text-align: left;
    vertical-align: center;
    justify-content: center;
}